{% load staticfiles %}
<!DOCTYPE html>
{% load leaflet_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    {% leaflet_js %}
    {% leaflet_css %}

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static "wicket.js" %}"></script>
    <script src="{% static "wicket-leaflet.js" %}"></script>


    <style type="text/css">
        .leaflet-container {height: 800px; }
    </style>
</head>
<body>
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        var g_layerControl = null;

        function setTitle(feature, layer) {
            {# Callback function to set the title text/tooltip on markers #}
            layer.bindPopup(feature.properties.marker_title);
        }

        function update_map_layers(map) {
            map.eachLayer(function (layer) {
                if (!(layer instanceof L.TileLayer)) {
                    map.removeLayer(layer);
                }
            });

            if (g_layerControl != null) {
                map.removeControl(g_layerControl);
            }

            {# Container for incident type overlay layers #}
            var overlays = {};

            {# Temp - Import subdivisons directly #}
            {# TODO: Refactor this to use AJAX and pay attention to the bounding box #}
            var subdivs = {};
            {% for S in subdivisons %}
                subdivs.k{{ S.src_file_index }} = ["{{ S.display_name }}", "{{ S.polygon.wkt }}"];
            {% endfor %}

            var highlight_subdivs = [];
            {% for x in active_subdivisions %}
            highlight_subdivs.push("k{{ x }}");
            {% endfor %}

            var subdivLayer = new L.LayerGroup();
            $.each(subdivs, function(key, val) {
                var wkt = new Wkt.Wkt();
                wkt.read(val[1]);
                console.log("Got " + val[0]);

                var subdiv = wkt.toObject();
                if(highlight_subdivs.indexOf(key) > -1) {
                    subdiv = wkt.toObject({ color: '#ff0000' });
                }

                subdiv.bindPopup(val[0]);
                subdivLayer.addLayer(subdiv);
            });
            map.addLayer(subdivLayer);
            overlays['Subdivisons'] = subdivLayer;
            {# End Subdivisions #}

            {# GeoJSON endpoint to get crime pins by type #}
            var lg_data_url = "{% url "crime_type_layer_gjson" %}";

            {% for k,v in layer_groups.items %}
                {#  * Create new layer #}
                // ***** Begin Layer Group {{ k }} -> {{ v.display_name }} ******
                var layer_group_{{ k }} = new L.LayerGroup();

                {#  * Define the GeoJSON endpoint for this crime type #}
                var bounds = map.getBounds();
                var query_str = "?ctid={{ k }}" +
                        "&zoom=" + map.getZoom() +
                        "&nw_lat=" + bounds.getNorthWest().lat +
                        "&nw_lng=" + bounds.getNorthWest().lng +
                        "&se_lat=" + bounds.getSouthEast().lat +
                        "&se_lng=" + bounds.getSouthEast().lng;
                $.getJSON(lg_data_url + query_str, function(data) {
                    L.geoJson(data, {onEachFeature: setTitle}).addTo(layer_group_{{ k }});
                });

                {#  * Add the layer to the overlays collection #}
                overlays['{{ v.display_name }}'] = layer_group_{{ k }};

                {#  * Add the layer to the map, so it is displayed by default #}
                map.addLayer(layer_group_{{ k }});
                // ***** End Layer Group {{ k }} *****
            {% endfor %}

            {# Add the layer selector to the map. #}
            {# Only allow toggle of crime type-based overlays, not the base map #}
            g_layerControl = L.control.layers(null, overlays);
            g_layerControl.addTo(map);
        }

        function main_map_init(map, options) {
            map.on('moveend', function() {
                document.getElementById("mpos").innerHTML = "NW: " + map.getBounds().getNorthWest() + " <br />" +
                        "SE: " + map.getBounds().getSouthEast();
            });

            map.on('zoomend', function() {
                update_map_layers(map);
            });

            map.on('moveend', function() {
                update_map_layers(map);
            });

            update_map_layers(map);




        }
    </script>

<div id="mpos">Position NW SE</div>
</body>
</html>