{% load staticfiles %}
<!DOCTYPE html>
{% load leaflet_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map View</title>

    {% leaflet_js %}
    {% leaflet_css %}

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static "wicket.js" %}"></script>
    <script src="{% static "wicket-leaflet.js" %}"></script>


    <style type="text/css">
        .leaflet-container {height: 800px; }
    </style>
</head>
<body>
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        var g_layerControl = null;
        var g_layerList = [];
        var g_layerDateRanges = {{ print_date_ranges|safe }};

        function setTitle(feature, layer) {
            {# Callback function to set the title text/tooltip on markers #}
            layer.bindPopup(feature.properties.marker_title);
        }

        function update_map_layers(map) {
            document.getElementById("frm_nw_lat").value = map.getBounds().getNorthWest().lat;
            document.getElementById("frm_nw_lng").value = map.getBounds().getNorthWest().lng;
            document.getElementById("frm_se_lat").value = map.getBounds().getSouthEast().lat;
            document.getElementById("frm_se_lng").value = map.getBounds().getSouthEast().lng;

            map.eachLayer(function (layer) {
                if (!(layer instanceof L.TileLayer)) {
                    map.removeLayer(layer);
                }
            });

            if (g_layerControl != null) {
                map.removeControl(g_layerControl);
            }

            {# Container for incident type overlay layers #}
            var overlays = {};

            {# ***** Begin Subdivisions Layer ***** #}
            {# This entire thing needs to loop for the time series. #}
            var sd_query_str =
                "?nw_lat=" + map.getBounds().getNorthWest().lat +
                "&nw_lng=" + map.getBounds().getNorthWest().lng +
                "&se_lat=" + map.getBounds().getSouthEast().lat +
                "&se_lng=" + map.getBounds().getSouthEast().lng;
            var sd_data_url = "{% url "subdivision_layer_gjson" %}";

            var master_sdiv_set;
            $.ajaxSetup({ async: false });
            $.getJSON(sd_data_url + sd_query_str, function(data) {
                master_sdiv_set = data;
            });

            var master_active_set = {{ active_subdivisions }};
            //console.log(master_sdiv_set);
            $.each(master_active_set, function(idx, highlight_subdivs) {
                //console.log(highlight_subdivs);
                var subdivLayer = new L.LayerGroup();

                L.geoJson(master_sdiv_set, {
                        style: function(feature) {
                            var is_significant = (highlight_subdivs.indexOf(feature.properties.src_file_index) > -1);
                            var color = (is_significant) ? "#ff0000" : "#0096d6";
                            //console.log("\t" + color);

                            return {"color": color};
                        },
                        onEachFeature: function(feature, layer) {
                            layer.bindPopup(feature.properties.display_name + " SFI:" + feature.properties.src_file_index);
                        }
                    }).addTo(subdivLayer);

                g_layerList.push(subdivLayer);
                // map.addLayer(subdivLayer);
                // overlays['Subdivisions-' + idx] = subdivLayer;
            });

            {# ***** End Subdivisions Layer ***** #}

            {# GeoJSON endpoint to get crime pins by type #}
            var lg_data_url = "{% url "crime_type_layer_gjson" %}";

            {% for k,v in layer_groups.items %}
                {#  * Create new layer #}
                // ***** Begin Layer Group {{ k }} -> {{ v.display_name }} ******
                var layer_group_{{ k }} = new L.LayerGroup();

                {#  * Define the GeoJSON endpoint for this crime type #}
                var bounds = map.getBounds();
                var query_str = "?ctid={{ k }}" +
                        "&zoom=" + map.getZoom() +
                        "&nw_lat=" + bounds.getNorthWest().lat +
                        "&nw_lng=" + bounds.getNorthWest().lng +
                        "&se_lat=" + bounds.getSouthEast().lat +
                        "&se_lng=" + bounds.getSouthEast().lng;
                $.getJSON(lg_data_url + query_str, function(data) {
                    L.geoJson(data, {onEachFeature: setTitle}).addTo(layer_group_{{ k }});
                });

                {#  * Add the layer to the overlays collection #}
                overlays['{{ v.display_name }}'] = layer_group_{{ k }};

                {#  * Add the layer to the map, so it is displayed by default #}
                map.addLayer(layer_group_{{ k }});
                // ***** End Layer Group {{ k }} *****
            {% endfor %}

            {# Add the layer selector to the map. #}
            {# Only allow toggle of crime type-based overlays, not the base map #}
            g_layerControl = L.control.layers(null, overlays);
            g_layerControl.addTo(map);
        }

        function play_map(map) {
            $(".mapHistItem").css("font-weight", "normal");

            $(g_layerList).each(function(idx, o) {
                map.removeLayer(o);
            });

            $(g_layerList).each(function(idx, o) {
                setTimeout(function() {
                    if(idx != 0) {
                        $("#ctlLayer" + (idx-1)).css("font-weight", "normal");
                        map.removeLayer(g_layerList[idx-1]);
                    }
                    $("#ctlLayer" + idx).css("font-weight", "bold");
                    map.addLayer(o);
                }, (idx + 1) * 750);
            });
        }

        function main_map_init(map, options) {
{#            map.on('moveend', function() {#}
{#                document.getElementById("mpos").innerHTML = "NW: " + map.getBounds().getNorthWest() + " <br />" +#}
{#                        "SE: " + map.getBounds().getSouthEast();#}
{##}
{#            });#}

            map.on('zoomend', function() {
                update_map_layers(map);
            });

            map.on('moveend', function() {
                //alert('wtf');
                update_map_layers(map);
            });

            update_map_layers(map);

            $(g_layerList).each(function(idx, o) {
                $("#layerctl").append("<a class=\"mapHistItem\" id=\"ctlLayer" + idx + "\" href=\"#\">" + g_layerDateRanges[idx] + "</a>&nbsp;|&nbsp;");
            });

            $("#layerctl").append("<a id=\"replay\" href=\"#\">Replay</a>");

            $(".mapHistItem").each(function(idx, o) {
                $(this).click(function(evt) {
                    //evt.target.id
                    var idx = evt.target.id.toString().replace("ctlLayer", "");
                    idx = parseInt(idx);

                    $(g_layerList).each(function(idx, o) {
                        map.removeLayer(o);
                    });

                    $(".mapHistItem").css("font-weight", "normal");
                    $(evt.target).css("font-weight", "bold");

                    map.addLayer(g_layerList[idx]);
                })
            });

            $("#replay").click(function() {

               play_map(map);
            });

            play_map(map);
        }
    </script>

    {% if interval_indivisible %}
        <script type="text/javascript">alert('The selected date range is not evenly divisible by the selected interval.' +
                'The remainder period will not be included in the output.');</script>
    {% endif %}

    <div id="layerctl" style="text-align: center"></div>
{#    <div id="mpos">Position NW SE</div>#}
    <hr />
    <div id="dsel">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="nw_lat" id="frm_nw_lat" />
            <input type="hidden" name="nw_lng" id="frm_nw_lng" />
            <input type="hidden" name="se_lat" id="frm_se_lat" />
            <input type="hidden" name="se_lng" id="frm_se_lng" />

            <table style="width: 100%">
                <tr style="width: 100%">
                    <td>
                        <label for="start">Start Date:</label>
                        <input type="text" size="25" name="start" id="start" placeholder="YYYY-MM-DD" />
                        <br />
                        <label for="start">End Date:</label>
                        <input type="text" size="25" name="end" id="end" placeholder="YYYY-MM-DD" />
                        <br />
                        <label for="interval">Interval</label>
                        <input type="text" size="5" name="interval" id="interval" placeholder="Days" />
                    </td>
                    <td>
                        <label for="ctid">Crime Type:</label>
                        <select name="ctid" id="ctid">
                            {% for t in crime_types %}
                                <option value="{{ t.pk }}">{{ t }}</option>
                            {% endfor %}
                        </select>
                        <br />
                        <input type="submit" value="Submit" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <script type="text/javascript">

    </script>

</body>
</html>
